@{
    ViewData["Title"] = "Архив погодных условий";
}

<div class="text-center">
    <h1 class="display-6">Архив погодных условий в городе Москве</h1>
    
    <table class="table">
        <thead></thead>
    </table>
</div>